<p style="color: green"><%= notice %></p>

<div class="mb-4"><%= link_to "<< Back to restaurant", restaurant_path(@restaurant) %></div>

<h1>Editing restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div>
  <%= link_to "Go back to restaurant list", restaurants_path %>
</div>
